<form method="post" action="{{ path('app_type_delete', {'id': type.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce type ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash"></i> Supprimer</button>
</form>
