{% extends 'base.html.twig' %}

{% block title %}Ajouter un Type{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">Ajouter un Type</h2>

    <div class="card shadow p-4">
        {{ include('type/_form.html.twig', {'button_label': 'Ajouter'}) }}
    </div>

    <div class="mt-3">
        <a href="{{ path('app_type_index') }}" class="btn btn-outline-secondary">Annuler</a>
    </div>
</div>
{% endblock %}
