<form method="post" action="{{ path('app_locality_delete', {'id': locality.id}) }}" 
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette localité ?');">

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ locality.id) }}">
    <button class="btn">Supprimer</button>
</form>
