{% extends 'base.html.twig' %}

{% block title %}Liste des Localités{% endblock %}

{% block body %}
    <h1>Liste des Localités</h1>
    <ul>
        {% for loc in localities %}
            <li>
                <a href="{{ path('app_locality_show', {'id': loc.id}) }}">
                    {{ loc.postalCode }} - {{ loc.locality }}
                </a>
            </li>
        {% else %}
            <li>Aucune localité trouvée.</li>
        {% endfor %}
    </ul>
{% endblock %}
