{% extends 'base.html.twig' %}

{% block title %}Hello CatalogueController!{% endblock %}

{% block body %}

          
    <div id="Wrapper">
        <div id="Header_wrapper">
            <div id="Subheader" style="padding:100px 0">
                <div class="container">
                    <div class="column one">
                        <h1 class="title">Nos spectacles</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                    {% for spectacle in spectacles %}
                        <div class="section mcb-section  equal-height-wrap" style="padding-top:50px; padding-bottom:10px">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one-second valign-middle clearfix" style="height: 725.234px;">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_image">
                                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                                <div class="image_wrapper">
                                                    <img class="scale-with-grid" src={{ asset('uploads/'~ spectacle.posterUrl) }}>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding: 0px 3%; height: 725.234px;">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one column_column">
                                            <div class="column_attr clearfix">
                                                <h2>{{spectacle.title}}</h2>
                                                <p>
                                                    {{spectacle.shortDesc}}
                                                </p>
                                               
                                                <hr class="no_line" style="margin:0 auto 20px">
                                                <a href="#" class="icon_bar  icon_bar_facebook icon_bar_small"><span class="t"><i class="icon-facebook"></i></span><span class="b"><i class="icon-facebook"></i></span></a>
                                                
                                                <a href="#" class="icon_bar  icon_bar_twitter icon_bar_small"><span class="t"><i class="icon-twitter"></i></span><span class="b"><i class="icon-twitter"></i></span></a>

                                                <a href="{{ path('app_spectacle_detail', { 'slug': spectacle.slug }) }}" class="icon_bar icon_bar_more icon_bar_small">
                                                <span class="t"><i class="fa-solid fa-plus"></i>/span>
                                                <span class="b"><i class="fa-solid fa-plus"></i>/i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section" style="padding-top:20px; padding-bottom:0px; background-color:#15191f">
                            <div class="section_wrapper mcb-section-inner"></div>
                        </div>
                         {% endfor %}
                 

                    </div>
                </div>
            </div>
        </div>
   
    </div>
                   


{% endblock %}


